@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;

    --primary: 233 85% 66%;
    --primary-foreground: 0 0% 100%;
    --primary-light: 233 90% 95%;

    --secondary: 228 45% 98%;
    --secondary-foreground: 0 0% 4%;

    --muted: 228 45% 98%;
    --muted-foreground: 220 9% 46%;

    --accent: 233 90% 95%;
    --accent-foreground: 233 85% 40%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 160 84% 39%;
    --success-foreground: 0 0% 100%;

    --border: 220 20% 91%;
    --input: 220 20% 91%;
    --ring: 233 85% 66%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
